{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Logs</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation CSS -->
    <link href="{% static '/css/animate.css' %}" rel="stylesheet" />
    <link
      href="{% static '/font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet" />
  </head>
  <body id="page-top" class="landing-page">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="text/javascript" src="{% static '/js/bundle.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static '/js/jquery-2.1.1.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/js/jquery-ui-1.13.0.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/js/pace.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/js/bootstrap.js' %}"
    ></script>
    <script type="text/javascript" src="{% static '/js/classie.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static '/js/cbpAnimatedHeader.js' %}"
    ></script>
    <script type="text/javascript" src="{% static '/js/wow.min.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static '/js/inspinia.js' %}"
    ></script>
  </body>
</html>
